{{!-- homepage to view all posts. To view the post and comments, click on hyperlink --}}
{{#each posts as | post |}}
<div class="container">
    <div class="post">
        <a href="/post/{{post.id}}" class="post-title">
            <i class="fa fa-sticky-note" aria-hidden="true"
                style="font-size: 20px; color: #389f91"></i>&nbsp;&nbsp;{{post.post_title}}&nbsp;Click to read more
        </a>
        <p class="post-content">{{post.post_text}}</p>
    </div>
    <div class="post-info">
        <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 20px; color: #389f91"></i>&nbsp;&nbsp;Posted
        By
        {{user.username}}
        on
        {{format_date post.date_created}}
    </div>
</div>
{{/each}}